/* At the moment Imba do not support several @font-face statements */

/* @font-face {
    font-family: "Montserrat";
    src: url('assets/montserrat.woff2') format("woff2");
    font-weight: normal;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}
*:focus {
	outline: none;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
